*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #e9e6e6;
}
nav{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;
}
.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
}
.nav-links a{
    text-decoration: none;
    color: rgb(199, 197, 197);
    font-weight: 0.5;
    font-size: 0.8rem;
}
.fa-apple{
    font-size: 1.5rem;
}
.main{ 
        background-color: #fff;  
        margin: 1rem auto;
        width: 60%;
        border-radius: 10px;
        padding: 5rem;
}
/* ------- css for heading ---------- */
.heading{
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid gray;
    
}
.heading h1{
    padding: 2rem 0;
    font-size: 3.5rem;
}
.heading p{
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
}
/* ------ css for reviews --------- */
.reviews{
    padding: 1rem 10rem;
}
.reviews div{
    margin-bottom: 6rem;
}
.reviews h2{
    margin: .8rem 0;
    font-size: 16px;
    font-weight: 400;
}
.reviews p{
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
}
.reviews h3{
    color: gray;
    font-size: 16px;
    font-weight: lighter;
    margin-top: .8rem;
}
/* ---------  css for footer area ------- */
.footer{
    border-top: 1px solid gray;
    text-align: center;
    padding: 4rem 0 0 0;
}
.footer h2{
    margin-bottom: .5rem;
    font-size: 2.5rem;
}
.footer h3{
    margin-bottom: 1.5rem;
    font-size: 1.2rem; 
}
.footer p{
    line-height: 1.5;
    font-weight: bold;
}
